body {
  background-color: black;
  color: green;
  font-family: 'DotGothic16', sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.typing::after {
  content: '▎';
  display: inline;
  animation: blink 0.75s step-start infinite;
}

.no-cursor::after {
  display: none;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.theme-toggle.sun {
  background-color: gray;
}

.theme-toggle.moon {
  background-color: gray;
}

.dark-theme {
  background-color: black;
  color: green;
}

.light-theme {
  background-color: white;
  color: black;
}

button {
  font-family: 'DotGothic16', sans-serif;
  padding: 10px 20px;
  border-radius: 0;
  border: 2px solid;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-theme button {
  color: green;
  background-color: black;
  border-color: green;
}

.light-theme button {
  color: black;
  background-color: white;
  border-color: black;
}

button:hover {
  opacity: 0.8;
}
